<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ptb.zeus.common.core.mapper.main.MToolSetMapper">

	<!-- 通用查询结果列-->
	<resultMap id="MToolSetResultMap" type="com.ptb.zeus.common.core.model.main.MToolSet">
		<id column="id" property="id" />
 		<result column="`name`" property="name" />
 		<result column="ctime" property="ctime" />
	</resultMap>

</mapper>