<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ptb.zeus.common.core.mapper.main.MUserServiceMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id, uid, skey, p_id AS pId, ctime, method, cost_num AS costNum, init_num AS initNum, deadline_time AS deadlineTime, init_time AS initTime
	</sql>

</mapper>