<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ptb.zeus.common.core.mapper.main.MVedioSetMapper">

	<!-- 通用查询结果列-->
	<resultMap id="MVedioSetResultMap" type="com.ptb.zeus.common.core.model.main.MVedioSet">
		<id column="id" property="id" />
 		<result column="`name`" property="name" />
 		<result column="instruction" property="instruction" />
 		<result column="study_level" property="studyLevel" />
 		<result column="teacher_id" property="teacherId" />
 		<result column="student_cnt" property="studentCnt" />
 		<result column="ctime" property="ctime" />
 		<result column="utime" property="utime" />
 		<result column="img_url" property="imgUrl" />
	</resultMap>

</mapper>