<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ptb.zeus.common.core.mapper.user.TbPermissionMapper">

	<!-- 通用查询结果列-->
	<resultMap id="TbPermissionResultMap" type="com.ptb.zeus.common.core.model.user.TbPermission">
		<id column="id" property="id" />
 		<result column="permisson_name" property="permissonName" />
 		<result column="permisson_sign" property="permissonSign" />
 		<result column="description" property="description" />
	</resultMap>

</mapper>